{% macro filter_settings(type) %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
       /* setup filter settings buttons */
       const hideErrorScansElement = document.getElementById('showErrorScans_{{type}}');
        hideErrorScansElement.checked = true;
        hideErrorScansElement.addEventListener('change', function () {
            if (this.checked) {
                $('.pqcscan-error').show();
                $('.host_has_error').show();
            } else {
                $('.pqcscan-error').hide();
                $('.host_has_error').hide();
              
            }
            if (document.getElementById('pqcSupportedOnly_{{type}}').checked) {
                  $('.host_has_pqc').show();
                  $('.pqc-supported').show();
            }
                if (document.getElementById('nonpqcSupportedOnly_{{type}}').checked) {
                  $('.host_has_nonpqc').show();
                  $('.pqc-notsupported').show();
                }  
        });
        const showPQCOnlyElement = document.getElementById('pqcSupportedOnly_{{type}}');
        showPQCOnlyElement.checked = true;
        showPQCOnlyElement.addEventListener('change', function () {
            if (this.checked) {
                $('.pqc-supported').show();
                $('.host_has_pqc').show();
            } else {
                $('.pqc-supported').hide();
                $('.host_has_pqc').hide();
            }
            if (document.getElementById('showErrorScans_{{type}}').checked) {
                  $('.host_has_error').show();
                  $('.pqcscan-error').show();
                }
            if (document.getElementById('nonpqcSupportedOnly_{{type}}').checked) {
                $('.host_has_nonpqc').show();
                $('.pqc-notsupported').show();
            }  
        });
        const nonpqcSupportedOnlyElement = document.getElementById('nonpqcSupportedOnly_{{type}}');
        nonpqcSupportedOnlyElement.checked = true;
        nonpqcSupportedOnlyElement.addEventListener('change', function () {
            if (this.checked) {
              $('.pqc-notsupported').show();
              $('.host_has_nonpqc').show();
            } else {
              $('.pqc-notsupported').hide();
              $('.host_has_nonpqc').hide();
            }
            if (document.getElementById('showErrorScans_{{type}}').checked) {
                $('.host_has_error').show();
                $('.pqcscan-error').show();
              }
              if (document.getElementById('pqcSupportedOnly_{{type}}').checked) {
                $('.host_has_pqc').show();
                $('.pqc-supported').show();
              }  
        });
    });
    </script>
</script>

<div class="container">
    <div class="row row-gap-3 d-flex justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Filter Settings</h5>
          </div>
          <div class="card-body">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="pqcSupportedOnly_{{type}}" checked>
              <label class="form-check-label" for="pqcSupportedOnly_{{type}}">Show PQC-enabled hosts</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="nonpqcSupportedOnly_{{type}}" checked>
              <label class="form-check-label" for="nonpqcSupportedOnly_{{type}}">Show Non-PQC-enabled hosts</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="showErrorScans_{{type}}" checked>
              <label class="form-check-label" for="showErrorScans_{{type}}">Show Failed Scans</label>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endmacro filter_settings %}

{% macro reset_filter_settings(type) %}
    document.getElementById('pqcSupportedOnly_{{type}}').checked = true;
    document.getElementById('nonpqcSupportedOnly_{{type}}').checked = true;
    document.getElementById('showErrorScans_{{type}}').checked = true;
{% endmacro filter_settings %}

{% macro show_all_elements() %}
    $('.pqcscan-error').show();
    $('.host_has_error').show();
    $('.host_has_pqc').show();
    $('.pqc-supported').show();
    $('.host_has_nonpqc').show();
    $('.pqc-notsupported').show();
{% endmacro filter_settings %}