<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" data-bs-theme="dark">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PQCScan Results - {{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
      /* Scroll to Top Button */
      #scrollToTopBtn {
        display: none; /* Hidden by default */
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 1000;
      }
    </style>
  </head>
  <body> 
    <button id="scrollToTopBtn" class="btn btn-secondary"><i class="fas fa-arrow-up"></i> Top</button>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {

        /* setup darkmode switch and save state to local storage */
        const htmlElement = document.documentElement;
        const switchElement = document.getElementById('darkModeSwitch');
        // Set the default theme to dark if no setting is found in local storage
        const currentTheme = localStorage.getItem('bsTheme') || 'dark';
        htmlElement.setAttribute('data-bs-theme', currentTheme);
        switchElement.checked = currentTheme === 'dark';
        switchElement.addEventListener('change', function () {
            if (this.checked) {
                htmlElement.setAttribute('data-bs-theme', 'dark');
                localStorage.setItem('bsTheme', 'dark');
            } else {
                htmlElement.setAttribute('data-bs-theme', 'light');
                localStorage.setItem('bsTheme', 'light');
            }
        });

        /* setup scroll to top button */
        const scrollToTopBtn = document.getElementById("scrollToTopBtn");
        window.onscroll = function() {
            // Show the button when the user scrolls down 20px from the top
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollToTopBtn.style.display = "block";
            } else {
                scrollToTopBtn.style.display = "none";
            }
        };
        scrollToTopBtn.onclick = function() {
            // Scroll to the top of the page
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };

        /* setup filter settings buttons */
        const hideErrorScansElement = document.getElementById('hideErrorScans');
        hideErrorScansElement.checked = false;
        hideErrorScansElement.addEventListener('change', function () {
            if (this.checked) {
                $('.pqcscan-error').hide();
            } else {
                $('.pqcscan-error').show();
            }
        });
        const hideOkScansElement = document.getElementById('hideOkScans');
        hideOkScansElement.checked = false;
        hideOkScansElement.addEventListener('change', function () {
            if (this.checked) {
              document.getElementById('pqcSupportedOnly').checked = false;
                $('.pqcscan-ok').hide();
                $('.pqcscan-error').show();
            } else {
                $('.pqcscan-ok').show();
                $('.pqcscan-error').hide();
            }
        });
        const showPQCOnlyElement = document.getElementById('pqcSupportedOnly');
        showPQCOnlyElement.checked = false;
        showPQCOnlyElement.addEventListener('change', function () {
            if (this.checked) {
                document.getElementById('hideOkScans').checked = false;
                $('.pqcscan-ok').show();
                $('.pqc-notsupported').hide();
            } else {
                $('.pqc-notsupported').show();
            }
        });
    });
    </script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PQCScan Results</a>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
          <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
        </div>
      </div>
    </nav>
    <nav>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true" aria-current="page" >Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ssh-tab" data-toggle="tab" href="#ssh" role="tab" aria-controls="ssh" aria-selected="false">SSH Results</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tls-tab" data-toggle="tab" href="#tls" role="tab" aria-controls="tls" aria-selected="false">TLS Results</a>
        </li>
      </ul>
    </nav>
    <div class="tab-content">
      <div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
 
        <h3 class="text-center">Summary</h3>
      ..
      ..
    
    
      </div>
      <div class="tab-pane fade" id="ssh" role="tabpanel" aria-labelledby="ssh-tab">
        <h3 class="text-center">SSH Scan Results</h3>

        <div class="container">
          <div class="row row-gap-3 d-flex justify-content-center">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h5>Filter Settings</h5>
                </div>
                <div class="card-body">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="hideErrorScans" checked>
                    <label class="form-check-label" for="hideErrorScans">Hide Erroneous Scans</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="hideOkScans" checked>
                    <label class="form-check-label" for="hideOkScans">Hide Successful Scans</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="pqcSupportedOnly" checked>
                    <label class="form-check-label" for="pqcSupportedOnly">PQC Supported Only</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        {% for hostname in ssh_sorted_hosts %}

        <div class="container">
          <div class="row row-gap-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5>{{hostname}}</h5>
                </div>
                <div class="card-body">

                 
                    {% set tmp = ssh_results[hostname] %}
                    {% for tmp2 in tmp %}
                      {% set result = tmp2['Ssh'] %}

                      {% if result['error'] %}
                      <table class="table table-sm pqcscan-error pqc-notsupported">
                      {% else %}
                        {% if result['pqc_supported'] %}
                        <table class="table table-sm pqcscan-ok pqc-supported">
                        {% else %}
                        <table class="table table-sm pqcscan-ok pqc-notsupported">
                        {% endif %}                      
                      {% endif %}

                        <tbody>
                          
                          <tr>
                            <th width="100%" colspan="2" class="text-center">&nbsp;</th>
                          </tr>
                          <tr>
                            <th width="20%">Port</th>
                            <td>{{ result['targetspec']['port'] }}</td>
                          </tr>
                          {% if result['error'] %}
                          <tr>
                            <th width="20%">Error</th>
                            <td class="text-danger">{{ result['error'] }}</td>
                          </tr>
                          {% else %}
                          <tr>
                            <th width="20%">PQC Supported</th>
                            <td class="text-success">{{ result['pqc_supported']}}</td>
                          </tr>
                          <tr>
                            <th width="20%">PQC Algorithms</th>
                            <td>
                              {% for algo in result['pqc_algos'] | sort %}
                                {{ algo }}{% if not loop.last %}, {% endif %}
                              {% endfor %}
                            </td>
                          </tr>
                          {% endif %}

                        </tbody>
                      </table>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="tls" role="tabpanel" aria-labelledby="tls-tab">
        <h3 class="text-center">TLS Scan Results</h3>

        {% for hostname in tls_sorted_hosts %}
          {% set tmp = tls_results[hostname] %}
          {% for tmp2 in tmp %}
          {% set result = tmp2['Tls'] %}
      
          <div>{{hostname}} {{ result['addr'] }} {{ result['targetspec']['port'] }}</div>
      
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <footer class="text-center mt-auto py-3 navbar navbar-expand-lg bg-body-tertiary">
       <div class="col-md-12 text-center text-muted">
         &copy; 2025 Anvil Secure Inc. All rights reserved.
      </div>
  </body>
</html>